html, body
{
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

#store
{
    width: 100%;
    position: relative;
}

#store .background-image
{
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius: 50% 10%;
    border-bottom-right-radius: 50% 10%;
    display: block;
    position: absolute;
    border-radius: 0 0 10% 10%;
}

.grid
{
    width: 50%;
    margin: auto;
}

.grid figure
{
    margin: 30% 0;
    overflow: hidden;
}

.grid figure figcaption
{
    position: absolute;
    bottom: 0;
    background-color: white;
    width: 100%;
    display: flex;
    padding: 5% 0;
    visibility: hidden;
    clip-path: polygon(0 0, 25% 3%, 50% 5%, 75% 3%, 100% 0, 100% 100%, 0 100%);
}

.grid figure:hover img
{
    animation: zoom 1s forwards;
}

.grid figure:hover figcaption
{
    visibility: visible;
    animation: beautify 1s forwards;
}

.grid figure img
{
    width: 100%;
    display: block;
    border-radius: 5px;
}

.informations
{
    width: 50%;
}

.buttons
{
    width: 50%;
}

.buttons button
{
    padding: 3%;
    width: 80%;
}

.buttons button
{
    border-radius: 5px;
    font-size: x-small;
}


.buttons > button:nth-child(1)
{
    margin-top: 5%;
    background-color: #613F93;
    border: 1px solid rgb(107, 1, 107);
    color: white;
}

.buttons > button:nth-child(2)
{
    margin-top: 2%;
    background-color: white;
    border: 1px solid #BDAAD8;
    color: #9673C3;
}

.grid figure figcaption h5
{
    color: rgb(195, 201, 201);
    margin: 0;
    padding-top: 8%;
    padding-left: 10%;
    font-size: 0.6em;
}

.grid figure figcaption h3
{
    margin: 0;
    padding-top: 2%;
    padding-left: 10%;
    padding-bottom: 8%;
    font-size: 0.9em;
}

@keyframes beautify
{
    0%
    {
        filter: blur(15px);
        transform: translateY(100px);
    }
    100%
    {
  
        filter: blur(0px);
        transform: translateY(0px);
    }
}

@keyframes zoom
{
    0%
    {
        transform: scale(1.0);
    }
    100%
    {
        transform: scale(1.1);
    }
}

@media all and (min-width: 1920px)
{
    .grid figure figcaption h5
    {
        color: rgb(195, 201, 201);
        margin: 0;
        padding-top: 8%;
        padding-left: 10%;
        font-size: 0.8em;
    }

    .grid figure figcaption h3
    {
        margin: 0;
        padding-top: 2%;
        padding-left: 10%;
        padding-bottom: 8%;
        font-size: 1.0em;
    }
}


@media all and (max-width: 924px)
{
    .grid figure figcaption
    {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .grid figure figcaption .informations
    {
        width: 100%;
        text-align: center;
    }

    .grid figure figcaption h5
    {
        padding: 0;
    }

    .grid figure figcaption h3
    {
        padding: 2% 0; 
    }

    .grid figure figcaption .buttons
    {
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: space-between;
    }

    .grid figure figcaption .buttons > button:nth-child(1)
    {
        margin: 0;
        width: 45%;
    }

    .grid figure figcaption .buttons > button:nth-child(2)
    {
        margin: 0;
        width: 45%;
    }
}